path {
  fill: lightgray;
  stroke: white;
}

path:hover {
  fill: gray;
}

path.show {
  fill: gray;
}

path.show_red {
  fill: #F22F2F;
  &:hover {
    fill: darken(#F22F2F, 20);
  }
}

path.show_blue {
  fill: #0066B2;
  &:hover {
    fill: darken(#0066B2, 20);
  }
}

path.show_green {
  fill: #00B26E;
  &:hover {
    fill: darken(#00B26E, 20);
  }
}
